* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    width: 100%;
    height: 100vh;
}


/*
=================BUBBLE ANIMATION========================
*/

.animation .bubble {
    position: absolute;
    background-color: #ffffe0;
    border: 0.2em solid #ffffe0;
    border-radius: 50%;
    width: 5em;
    height: 5em;
}

.animation .bubble:nth-child(1) {
    animation: animate 10s linear infinite;
    top: 12%;
    left: 42%;
}

.animation .bubble:nth-child(2) {
    animation: animate 7s linear infinite;
    top: 70%;
    left: 50%;
}

.animation .bubble:nth-child(3) {
    animation: animate 9s linear infinite;
    top: 17%;
    left: 6%;
}

.animation .bubble:nth-child(4) {
    animation: animate 10s linear infinite;
    top: 20%;
    left: 60%;
}

.animation .bubble:nth-child(5) {
    animation: animate 6s linear infinite;
    top: 67%;
    left: 10%;
}

.animation .bubble:nth-child(6) {
    animation: animate 12s linear infinite;
    top: 80%;
    left: 70%;
}

.animation .bubble:nth-child(7) {
    animation: animate 15s linear infinite;
    top: 60%;
    left: 80%;
}

.animation .bubble:nth-child(8) {
    animation: animate 16s linear infinite;
    top: 32%;
    left: 25%;
}

.animation .bubble:nth-child(9) {
    animation: animate 9s linear infinite;
    top: 90%;
    left: 25%;
}

.animation .bubble:nth-child(10) {
    animation: animate 5s linear infinite;
    top: 20%;
    left: 80%;
}

.animation .bubble:nth-child(11) {
    animation: animate 13s linear infinite;
    top: 90%;
    left: 40%;
}

.animation .bubble:nth-child(12) {
    animation: animate 3s linear infinite;
    top: 90%;
    left: 20%;
}

.animation .bubble:nth-child(13) {
    animation: animate 5s linear infinite;
    top: 90%;
    left: 80%;
}

@keyframes animate {
    0% {
        transform: scale(0) translateY(0);
        opacity: 1;
    }
    100% {
        transform: scale(1.3) translateY(-40em);
        opacity: 0;
    }
}


/*animation ends here*/


/*
================================ TABS ===========================
*/

.bookmark_0,
.bookmark_1,
.bookmark_1_circle,
.bookmark_2,
.bookmark_2_rectangle,
.bookmark_3,
.bookmark_3_temperature {
    cursor: pointer;
    display: inline-block;
    position: absolute;
    border: 0.2em solid #1d2951;
    top: -7%;
    width: 16em;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.bookmark_1,
.bookmark_1_circle,
.bookmark_2,
.bookmark_2_rectangle,
.bookmark_3,
.bookmark_3_temperature {
    text-align: center;
    transition: 1s;
}

.bookmark_1:hover,
.bookmark_1_circle:hover,
.bookmark_2:hover,
.bookmark_2_rectangle:hover,
.bookmark_3:hover,
.bookmark_3_temperature:hover {
    transform: translateY(-1.6em);
}

ul a li {
    color: #1d2951;
    text-decoration: none;
    margin-left: 2em;
}

.bookmark_0 {
    background-color: #f5f5f5;
    z-index: 50;
    height: 1.6em;
    left: -0.2em;
}

.bookmark_1 {
    background-color: #90ee90;
    z-index: 40;
    height: 1.6em;
    left: 10%;
}

.bookmark_1_circle {
    background-color: #fada5e;
    z-index: 40;
    height: 1.6em;
    left: 10%;
}

.bookmark_2 {
    background-color: #fa8072;
    z-index: 30;
    height: 1.6em;
    left: 20%;
}

.bookmark_2_rectangle {
    background-color: #90ee90;
    z-index: 30;
    height: 1.6em;
    left: 20%;
}

.bookmark_3 {
    background-color: #dda0dd;
    z-index: 20;
    height: 1.6em;
    left: 30%;
}

.bookmark_3_temperature {
    background-color: #fa8072;
    z-index: 20;
    height: 1.6em;
    left: 30%;
}


/*tab ends here*/

.body,
.body-rec,
.body-temp,
.body-tri {
    display: inline-block;
    position: absolute;
    border: 0.2em solid #1d2951;
    width: 75em;
    height: 25em;
    padding: 2em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

body {
    background-color: #fada5e;
}


/*========================SETTING BACKGROUND COLORS FOR EACH PAGE==========================*/

.whole-rec {
    background-color: #90ee90;
}

.whole-temp {
    background-color: #fa8072;
}

.whole-tri {
    background-color: #dda0dd;
}

.body {
    background-color: #fdfd96;
}

.body-rec {
    background-color: #d0f0c0;
}

.body-temp {
    background-color: #ff9999;
}

.body-tri {
    background-color: #dcd0ff;
}


/*BACKGROUND COLORS ENDS HERE */

.selection-1,
.selection-3 {
    cursor: pointer;
    color: #383838;
    border: 0.2em solid #1d2951;
    padding: 0.3em;
    border-radius: 1em;
    margin-top: 1em;
    margin-left: 1em;
    width: 19.5em;
}

.selection-2 {
    cursor: pointer;
    color: #383838;
    border: 0.2em solid #1d2951;
    padding: 0.3em;
    border-radius: 1em;
    margin-top: 1em;
    margin-left: 1em;
    width: 19.5em;
}

.selection-1 {
    background-color: #fada5e;
}

.selection-2 {
    background-color: #90ee90;
}

.selection-3 {
    background-color: #fa8072;
}

.title-h1 {
    margin-left: 5em;
    color: #1d2951;
}

.title-h1-temp {
    margin-left: 3.5em;
    color: #1d2951;
}

.circle,
.temperature,
.rectangle,
.triangle {
    display: inline-block;
}

.selection-1,
.selection-2,
.selection-3,
.body,
.body-rec,
.body-temp,
.body-tri,
.title-h1,
.answer,
input[type="number"],
input[type="reset"],
input[type="submit"],
.bottom {
    font-family: "Fredoka", sans-serif;
}

.circle,
.temperature,
.rectangle,
.triangle {
    margin-top: 6em;
}

.input-section {
    background-color: #ffffe0;
    border: 0.2em solid #1d2951;
    margin-top: 1.5em;
    width: 34.4em;
}

.answer-section {
    padding: 4px;
    display: block;
}

.answer {
    margin: 0;
    display: block;
    height: auto;
    max-height: 10em;
}

input[type="number"] {
    background-color: #ffffe0;
    border: 0.2em solid #1d2951;
    margin-top: 1em;
    padding: 0.3em;
    border-radius: 1em;
    width: 20em;
}

input[type="reset"],
input[type="submit"] {
    display: inline-block;
    border: 0.2em solid #1d2951;
    padding: 0.3em;
    margin-top: 1.5em;
    border-radius: 1em;
}

input[type="reset"] {
    margin-left: 31.4em;
}

input[type="submit"] {
    margin-left: 1.2em;
}


/*=================BUTTON STYLING=================*/

.button-circle,
.button-temperature,
.button-triangle,
.button-rectangle {
    cursor: pointer;
}

.button-circle {
    background-color: #fada5e;
    transition: 0.3s ease;
}

.button-temperature {
    background-color: #fa8072;
    transition: 0.3 ease;
}

.button-triangle {
    background-color: #dcd0ff;
    transition: 0.3 ease;
}

.button-rectangle {
    background-color: #90ee90;
    transition: 0.3 ease;
}

.button-circle:hover {
    background-color: #f5df88;
}

.button-temperature:hover {
    background-color: #ffaba1;
}

.button-triangle:hover {
    background-color: #b7aed1;
}

.button-rectangle:hover {
    background-color: #7bc77b;
}


/*BUTTON STYLING ENDS HERE*/

.formula {
    background-color: #fada5e;
    margin-left: 6.3em;
    margin-top: 2.8em;
}

.formula-rec {
    background-color: #90ee90;
}

.formula-temp {
    background-color: #fa8072;
}

.formula-tria {
    background-color: #dda0dd;
}

.formula,
.formula-rec,
.formula-temp,
.formula-tria {
    display: inline-block;
    vertical-align: top;
    color: #1d2951;
    padding: 2em;
}

.formula-rec {
    margin-left: 6.3em;
    margin-top: 4.3em;
}

.formula-temp {
    margin-left: 5em;
    margin-top: 4.3em;
}

.formula-tria {
    margin-left: 6.5em;
    margin-top: 5.5em;
}

.formula h1 {
    margin-left: 1.2em;
}

.formula-rec .title-rec {
    margin-left: 0.2em;
}

.formula-tria .title-tria {
    margin-left: 0.6em;
}

.elements {
    display: inline-block;
    margin-left: 10.7em;
}

.elements i {
    width: 3em;
    margin-bottom: 1.5em;
}

p {
    color: #000;
    margin-top: 1.5em;
}

.tr-temp {
    margin-left: 2em;
}

tr td {
    cursor: pointer;
    border: 0.2em solid #1d2951;
    width: 13em;
    padding: 0.4em;
    transition: 0.3s ease;
}

tr td:hover {
    background-color: #ffffe0;
}

.bottom {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -90%);
}

.bottom p {
    font-size: x-small;
}